<div ng-include src="'views/common/menu.html'"></div>

<div ng-include src="'views/common/loading.html'" ng-init="spinner_name = 'spinner'"></div>

<br>

<div class="well bs-component">
  <form class="form-horizontal">
    <fieldset>
      <legend>Add photos to Album</legend>


      <input type="file" nv-file-select uploader="uploader" multiple/><br/>
      <ul>
        <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <input type="text" class="form-control input-sm" ng-model="item.file.description" placeholder="Description...">
          <!--<button ng-click="item.upload()">upload</button>-->
          <!--<div class="dropdown">-->
            <!--<a class="dropdown-toggle {{item.file.name}}" id="photo_date" role="button" data-toggle="dropdown" data-target="#" href="" data-disabled="true">-->
              <!--<div class="input-append">-->
                <!--<input type="text" class="form-control col-md-8 input-sm" data-ng-model="item.file.date_pretty" placeholder="Date...">-->
              <!--</div>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="item.file.date_pretty">-->
              <!--<datetimepicker data-ng-model="item.file.date_pretty"-->
                              <!--data-datetimepicker-config="{ dropdownSelector: '.' + item.file.name , minView: 'day' }">-->
              <!--</datetimepicker>-->
            <!--</ul>-->
          <!--</div>-->
        </li>
      </ul>


      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary" ng-click="f.submit()">Submit</button>
          <button class="btn btn-default" ng-click="f.go_back()">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>
